
@{
    ViewBag.Title = "IndexCustom";
}

<h2>Страница покупателей</h2>

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Заказ", "IndexCustom", "Order")</li>
    <li>@Html.ActionLink("Склад", "IndexCustom", "Item")</li>
    <li>@Html.ActionLink("Поставщики", "IndexCustom", "Seller")</li>
</ul>

