@{
    ViewBag.Title = "Home Page";
}

<div>
    <p>
        @Html.ActionLink("Заказ", "Order")
    </p>
    <p>
        <a href="~/Views/Home/Order.cshtml">ЗАКАЗ</a>
    </p>
    <p>
        @Html.ActionLink("Заккаладввмьлд", "View")
    </p>
</div>