@{
    ViewBag.Title = "Главная страница";
}

@*<div>
    <p>
        @Html.ActionLink("Заказ", "Order")
    </p>
    <p>
        <a href="~/Views/Home/Order.cshtml">ЗАКАЗ</a>
    </p>
    <p>
        @Html.ActionLink("Заккаладввмьлд", "View")
    </p>
</div>*@

<div >
    <h3 class="main-page">Учет расходных материалов предприятия</h3>
</div>

<div class="description">
    <p style="text-align: center;">
        Данное приложение разработано для промышленных предприятий. 
        Цель данного проекта - создать инструмент, позволяющий отслеживать и 
        управлять работой склада, иметь актуальную информацию о истории заказов,
        а также получать данные о пользователях программной системы.
    </p>
</div>